.reveal { font-size: 34px; }
.reveal h1, .reveal h2, .reveal h3 { text-transform: none; margin-bottom: 1em; }
.reveal .progress { height: 1em; }
.reveal .controls .navigate-up { bottom: 4.4em; }
.reveal .controls .navigate-down { padding-bottom: 3.4em; }

.reveal img { margin: 0; }

.reveal .container { display: flex; }
.container div { margin: 0 1em; }

hr { border: .1em solid #2a76dd; }

.slidetitle { background: radial-gradient(#555a5f, #1c1e20); }